.AboutPage-main-div{
        height: 90vh;
        width: 100%;
        background-color: rgb(206, 255, 127);
        display: flex;
        flex-direction: column;
}
.AboutPage-content-div{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: row;
}
.AboutPage-sub1-div{
        width: 70%;
        height: 100%;
        padding: 50px 100px 50px 50px;
}
.AboutPage-sub2-div{
        width: 30%;
        height: 100%;
}
.AboutPage-sub2-div img{
        width: 400px;
        height: 500px;
}
.button-div{
        display: flex;
        flex-direction: row;
        gap: 20px;
}
.Skill-button,.Resume-button{
        background-color: transparent;
        border: none;
        border-bottom: 5px solid black;
        border-radius: 10px;
}
.Contact-div{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 50px 10px 50px ;
        border-top: 3px solid black;
}
.icon-div{
        display: flex;
        flex-direction: row;
        gap: 20px;
}